@charset "UTF-8";
* {
    margin: 0px;
}
html, body {
    min-height: 100vh;
}
header {
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    text-align: center;
    padding-bottom: 35px;
}
header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 6em;
    padding: 35px 0px 10px 0px;
    font-family: 'Passion One', 'cursive';
    font-weight: normal;
    font-variant: small-caps;
}
a:hover {
    text-decoration: underline;
    color: white
}
section {
    background-color: white;
    height: 300px;
}
section p {
    font-size: 1.8em;
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'Sriracha', 'cursive';
}
.espaco {
    padding-bottom: 2em;
}
#flor {
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
    background-attachment: fixed;
}
#flor > p {
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
    margin: 30px;
    display: inline-block;
}
#livro {
    background-image: url(pacote-d012/imagens/background002.jpg);
    color: white;
    background-size: cover;
    background-position: center top;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
    background-attachment: fixed;
}
#livro > p {
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
    margin: 30px;
    display: inline-block; 
}