@charset "UTF-8";
* {
    margin: 0px;
}
header {
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
h1 {
    font-size: 5em;
    padding: 35px 0px 10px 0px;
}
a:hover {
    text-decoration: underline;
    color: white
}